{{#partial "content"}}
    <h1 id="h1-1">Add a new Squad</h1>
    <div class="container cont-2 cont-2-3-1" id="cont-0">
        <div class="col-md-12 text-center">
            <button type="button"  class="btn mdb-color darken-3 animated  infinite btn-1"><a href="/squad">Add Squad<i class="fas fa-angle-double-down "></i></a></button>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}