{{#partial "styles"}}
    <link rel='stylesheet' href='/css/styles.css'>
{{/partial}}
{{#partial "content"}}
    <div class="success">
        <h1 id="h1-1">Success!</h1>
        <p>The squad is successfully added.</p>
        <p><a href="/squad/list"> View your Squad</a></p>
    </div>
{{/partial}}

{{> layout.hbs}}